html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    width:100%;
    max-width:none;
}
h2{
    font-size: 8rem;
}
h3{
    font-size: 1rem;
}

@media (max-width:770px){
    .socials{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        background: black;
        color: white;
    }
    .no1{
        display: none;
    }
}
