html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    width:100%;
    max-width:none;
}
h2{
    font-size: 8rem;
}
h3{
    font-size: 1rem;
}

@media (max-width:770px){
    .socials{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        background: black;
        color: white;
    }
    .no1{
        display: none;
    }
}
@media (min-width:1650px) and (max-width:2700px){
    .container,.container-fluid{
        margin: 0 2rem!important;
    }
    .navbar{
        margin-bottom: 2rem;
    }
    a.navbar-brand {
        font-size: 3rem;
    }
    .icons{
        font-size: 3rem!important;
    }
    .make h2{
        font-size: 20rem!important;
    }
    .paras {
        font-size: 1.8rem!important;
    }
    .titl{
        font-size: 3rem!important;
    }
    .res{
        margin: 2rem 1rem!important;
    }


}
