*{
    font-family: sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body{
  text-align: center;
}
h1{
    margin-top: 45px;
}
.line{
  width: 65px;
  height:2px;
  display: inline-block;
  background-color: #50c878;
  border-radius: 25px;
}
.container{
    text-align: center;
}

.container .toggle{
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 25px;
  display: inline-block;
  background-color: white;
  box-shadow: 0 7px 8px rgba(173, 188, 182);
  border-radius: 25px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  width: 216px;
}
.toggle .monthly{
  background-color: #50c878;
  color: #ffff;
  border-radius: 25px;
  font-size: 14px;
  padding: 6px 22px;
}
.toggle .annually{
  background-color: #F0FFF0;
  color: #50c878;
  border-radius: 25px;
  width: 250px;
  font-size: 14px;
  padding: 6px 22px;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.box{
    margin: 12px;
    width: 250px;
    height: 440px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    flex-wrap: wrap;
    padding-top: 26px;
    line-height: 33px;
    list-style: none;
  }
  .icon{
    background-color: #50c878;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .icon div span{
    display: flex;
    justify-content: center;
    background-color: #50c878;
    border-radius:50px;
    padding: 10px;
    align-items: center;
    padding: 18px;
  }
  .fa-sharp{
    font-size: 25px;
    color: white;
  }
  .amount{
    margin: 5px;
  }
  .price{
    font-size: 40px;
    font-weight: bold;
  }
  .month{
    font-size: 15px;
    color: grey;
    font-style: italic;
  }
  
  .btn{
    background: #50c878;
    border-radius: 50px;
    width: 194px;
    margin-top: 12px;
    cursor: pointer;
  }
  .btn a {
    color: white;
    font-size: 14px;
  }
  ul{
    list-style: none;
    color: grey;
    font-size: 13px;
  }
  h3{
    margin-top: 10px;
  }
  .box:hover{
    transform: scale(1.1);
  }
  
  