*{
    background-color:white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-transform: capitalize;
    text-decoration: none;
  }
  .container{
    min-height: 100vh;
    text-align: center;

  }
  .container .col{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display:grid;
  }
  .container .col-container .col{
    background-color: white;

  }
  .container .col-container .col h3{
    font-size: 25px;
    padding: 17px 0;
  }
 
  .container .col-container .col .price-month{
    font-weight: bolder;
    font-size: 25px;
  }
  .container .col-container .col .list{
    margin: 20px 0;
  }
  .container .col-container .col .list p{
    padding: 15px 0;
    font-size: 12px;
    color: grey;
  }
  .container .col-container .col .butn{
    margin: 20px;
    padding: 15px 95px;
    font-size: 12px;
    display: inline-block;
    background-color:#50C878;
    color: white;
    border-radius:25px 25px ;

  }
  .container .toggler{
    margin: 15px;
    padding: 15px 35px;
    display: inline-block;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }
  .container .toggler .month{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #50C878;
    border-radius: 25px 25px;
  }
  .container .toggler .annually{
    font-size: 15px;
    color: #50C878;
    background-color: #b2d3c2;
    padding: 10px 20px;

    border-radius: 25px 25px;
  }
  .container .col-container{
    display:flex;
    flex:wrap;
  }
  .col-container .col{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }
  h2{
    text-align: center;
  }
 
