@font-face {
    font-family: "sfmono" ;
    src: url(fonts/sfmono.otf);
}
@font-face {
    font-family: "font2" ;
    src: url(fonts/SourceSansPro-Bold.ttf);
}

:root{
    --primary-color:#1A1D27;
    --secondary-color:#161A22;
    --highlight:#FFCC73;
    --box-color:#1A212F;
    --text:#A1A3B3;
    --font2: sfmono;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: var(--primary-color);
}
.navbar{
    background-color: transparent;
}
.home,.service,.footer{
    background-color: var(--primary-color);
}
.navbar-brand{
    color: var(--highlight)!important;
}
.nav-link{
    font-family:var(--font2);
    color:whitesmoke!important;
    margin: 0 1rem;
    font-size: 0.8rem;
}
.nav-link:hover,.nav-link:focus{
    color: var(--highlight)!important;
}
.logo{
    max-width: 60px;
}
.home1{
    padding-left: 5rem;
    padding-right: 0;
}
.home2{
    padding-left: 0;
}
.prof {
    max-width: 50%;
   
}
.scroll a p{
    text-decoration: none;
    color: var(--highlight);
}

a.butn {
    outline: var(--highlight) solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: var(--highlight)!important;
}

.scroll{
    position: absolute;
    right: 1rem;
    bottom: 90px;
    transform: rotate(90deg);
}
.clr,.myskill,.abouttext h2,.contact h2,.service h2,h5{
    color: var(--highlight);
}
.abouttext h2,.contact h2,.service h2{
    font-family: font2;
}
.abouttext h2:hover,.contact h2:hover,.service h2:hover{
    transform: scale(1.1);
    border-bottom: 1px solid #A1A3B3;
    transition: all 800ms ease;
}
.icons{
    position: absolute;
    left: 2rem;
    bottom: 30%;
}
.home a{
    text-decoration: none;
    color: white;
}
.homeicons:hover{
    cursor: pointer;
    transform: scale(1.5) translateY(-3px);
    color: var(--highlight);
    transition:all 300ms ease ;
}
.homeicons{
    margin: 1rem 0;
}
.hometext h2{
    font-family: font2;
    color: #fff;
    letter-spacing: 4px;
}
.hometext h2:hover{
    /* color: var(--highlight); */
    transform: scale(1.1);
    font: 100px 40px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #FFCC73 1px;
    transition: all 100ms ease;
}
.hometext,.about p,.card p,.contact p,.footer p{
    color: var(--text);
    font-family: var(--font2);
}
.contact .btn{
    outline: var(--highlight) solid 1px;
    color: var(--highlight);
}
a.butn:hover,.contact .btn:hover,a.butn:focus,.contact .btn:focus{
    background-color: var(--primary-color);
    color: var(--primary-color)!important;
    outline: none;
    box-shadow: inset 150px 0 0 0 var(--highlight);
    transition: all 500ms ease;
}

.about,.contact{
    background-color: var(--secondary-color);
    color: var(--text);
}
.about .prof{
    max-width: 40%;
}
.skills ul li{
    list-style: none;
    font-family: var(--font2);
    padding-top: 10px;
}
.progress-bar{
    background-color:var(--highlight)
}
.counter{
    float: right;
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
.card{
    background-color: var(--box-color);
}
.expicon{
    color: var(--text);
    font-size: 2rem;
}
.service{
    height: 100vh;
    display: flex;
    align-items: center;
}
p.card-text {
    font-size: 0.8rem;
}
.contact{
    height: 90vh;
}
.c1{
    margin-bottom: 3rem!important;
}
.c1 p{
    margin-bottom: 2rem;
}
.mailme{
    border-left: 1px solid #fff ;
}
.emailme{
    font-size: 2rem;
}
.contbtn{
    display: flex;
    justify-content: center;
}

.footlogo{
    max-width: 50px;
}
a.footLink {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}
.footlast{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding-top: 1rem;
}

/* animation start */

.reveal{
    animation: fadeInLeft;
    animation-duration: 2s;
}
.reveal1{
    animation:slideInRight;
    animation-duration: 2s;
}
.reveal3{
    animation:fadeInRightBig;
    animation-duration: 2s;
}
.reveal4,.homeicons{
    animation: fadeInDownBig;
    animation-duration: 2s;
}

/* animation end*/

/* responsive */

@media (min-width:1600px) and (max-width:2800px){
    img.logo {
        max-width: 100px;
    }
    a.nav-link {
        font-size: 1.5rem;
    }
    .home .row {
        padding: 0 4rem;
    }
    .hometext h2{
        font-size: 5rem;
    }
    .hometext p,a.butn,.contact p,.abouttext p,.contact .btn{
        font-size: 2rem;
    }
    .icons,.service p,label.form-label{
        font-size: 1.7rem;
    }
    a.butn{
        padding: 0.8rem 1.8rem;
    }
    a.butn:hover,.contact .btn:hover,a.butn:focus,.contact .btn:focus{
        box-shadow: inset 250px 0 0 0 var(--highlight);
        transition: all 700ms ease;
    }
    .expicon{
        font-size: 4rem;
    }
    .about h2, .service h2 {
        font-size: 4rem;
    }
    h5.card-title {
        font-size: 2.8rem;
    }
    .skills ul{
        font-size: 1.5rem;
    }
    .skills h4,.contact h2{
        font-size: 3rem;
    }
    .wn{
        margin-bottom: 6rem;
    }
    .emailme p {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .footlogo{
        max-width: 70px;
    }
    .footmid,.footlast{
        font-size: 1rem;
    }
}

@media (max-width:790px){
    
    .service,.contact{
        height: auto;
    }
    .mailme{
        border-left: none;
        border-top: 1px solid #fff;
    }
    .scroll{
        display: none;
    }
    .footlog{
        display: flex;
        justify-content: center;
    }
    .footmid{
        margin: 1rem 0;
    }
}
@media (max-width:450px){
    .hometext p,.hometext .btn,.service p,.contact p,.abouttext p,.contact .btn{
        font-size: 0.8rem;
    }
    a .footlink,.footlast p{
        font-size: 0.5rem;
    }
    .home1{
        padding-left: 3rem;
    }
    .skills ul {
        padding: 0 1rem;
    }
    .emailme{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

