*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 550px;
    padding: 25px;
    margin: 1rem auto;
    background:#91a3b0;
    color: grey;
}

.container{
    background:whitesmoke;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-radius: 6px;
}
.container h2{
    font-size: 24px;
    text-align: center;
}
p{
  font-size: 18px;  
  color: grey;
}
.details{
    width: 90%;
    margin: 20px auto;
}

.name{
    width: 49%;
    padding: 8px 30px;
}

.other{
    width: 100%;
    padding: 8px 30px;
}
.details i{
    position: absolute;
    margin: 0.5em;
}

.name , .other{
    border: 2px solid #cccccc;
    outline: none;
    border-radius: 4px;
}

.gender{
    margin-right: 10%;
}

.select{
    padding: 0.5em;
    width: 99%;
}

.green{
    text-decoration: none;
    color: #01a049;
}

.btn{
    width: 99%;
    padding: 8px 30px;
    background: #4CAF50;
    outline: none;
    color: white;
    font-size: 19px;
    font-weight: bold;
    border-radius: 4px;
}

h6{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: white;
    font-size: 1rem;
}

h6 a{
    color: white;
}