body{
    line-height: 1.5;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:white;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    position: relative;

}
.footer-col li a{
    font-size: 12px;
    text-transform: capitalize;
    color: gray;
    text-decoration: none;
    margin-top: 12px ;
    display: block;
    position: relative;
    

}
.footer-col .socials a{
    font-size: 25px;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    top: 10px;
    background-color: white;
    border-radius: 50%;
}
.footer-col .socials p{
    font-size: 12px;
    color: gray;
    display: block;
    position: relative;
    margin-left: auto;
}
